<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carlisle.songtaste">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.setting.SettingActivity"/>
        <activity android:name=".ui.about.AboutActivity"/>

        <!-- Widget/Notification Now Playing Activity Broadcast Receiver -->

        <receiver android:name=".cmpts.broadcastReceivers.LaunchNowPlayingReceiver" >
            <intent-filter>
                <action android:name="com.carlisle.songtaste.LAUNCH_NOW_PLAYING_ACTION" />
            </intent-filter>
        </receiver>

        <!-- Widget/Notification Play/Pause Broadcast Receiver -->

        <receiver android:name=".cmpts.broadcastReceivers.PlayPauseBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.carlisle.songtaste.PLAY_PAUSE_ACTION" />
            </intent-filter>
        </receiver>

        <!-- Widget/Notification Previous Broadcast Receiver -->

        <receiver android:name=".cmpts.broadcastReceivers.PreviousBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.carlisle.songtaste.PREVIOUS_ACTION" />
            </intent-filter>
        </receiver>

        <!-- Widget/Notification Next Broadcast Receiver -->

        <receiver android:name=".cmpts.broadcastReceivers.NextBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.carlisle.songtaste.NEXT_ACTION" />
            </intent-filter>
        </receiver>

        <!-- Stop Service Broadcast Receiver -->

        <receiver android:name=".cmpts.broadcastReceivers.StopServiceBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.carlisle.songtaste.STOP_SERVICE" />
            </intent-filter>
        </receiver>

        <!-- Receiver that gets called when the user changes songs from the Large Widget -->

        <receiver android:name=".cmpts.broadcastReceivers.ChangeTrackBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.carlisle.songtaste.WIDGET_CHANGE_TRACK" />
            </intent-filter>
        </receiver>

        <!--<activity android:name=".ui.recyclerView.RecycleViewActivity"/>-->

        <service android:name=".cmpts.services.MusicService"
            android:enabled="true"/>

        <activity android:name=".ui.playback.NowPlayingActivity"
            android:launchMode="standard"/>

    </application>

</manifest>
